
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="IPTV Pro"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".PlayerActivity"/>
<activity
    android:name=".MainActivity"
    android:exported="true"
    ... >
    <intent-filter>
        ...
    </intent-filter>
</activity>

    </application>
</manifest>
